:local(.addFriendInput) {
  border-radius: 0;
  border-color: #ABAAAA;
  border-left: 0;
  border-right: 0;
  width:70%;
  float:left
}

:local(.addFrindInputGender){
  width:30%;
  float: right;
  border-radius: 0;
  border-color: #ABAAAA;

}

:local(.addFriendInputContainer){
  clear:both
}
